<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>   
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=DBTheVCos;User ID=sa;Password=pzRB4mLO91c=;" />
    <add key="WebHome" value="~/" />
    <add key="KeyEncrypt" value="tuyencoder123" />
     <!-- Cấu hình mail -->
    <add key="FromMail" value="hotro.tuyencoder@gmail.com" />
    <add key="FromPass" value="Tuyencoder123" />
    <add key="Incomming" value="smtp.gmail.com" />
    <add key="ToEmail" value="linh.itviet@gmail.com" />
    <!-- Cấu hình https -->
    <add key="WebURL" value="http://localhost/" />
    <!-- captcha-->
    <add key="CaptchaKey" value="123456" />
    <add key="CaptchaSalt" value="1qazxsw2" />
    <!-- Cấu hình thư mục Languages-->
    <add key="Languages" value="Languages\" />
    <add key="Message" value="Message\" />
    <add key="Telerik.Web.UI.Window.RenderMode" value="lightweight" />
    <add key="PathCV" value="~/Media" />
    <!-- Default city-->
    <add key="CityID" value="248" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Home">
          <match url="^index.html" />
          <action type="Rewrite" url="Default.aspx" />
        </rule>
        <!--Contact-->
        <rule name="Contact" enabled="true">
          <match url="^lien-he/index.html" />
          <action type="Rewrite" url="Default.aspx?s=CONT" />
        </rule>
        <!--AboutUs - gioi thieu-->
        <rule name="AboutUs" enabled="true">
          <match url="^gioi-thieu/index.html" />
          <action type="Rewrite" url="Default.aspx?s=ABOUT" />
        </rule>
        <!--Tin tuc-->
        <rule name="Article" enabled="true">
          <match url="^tin-tuc/index.html" />
          <action type="Rewrite" url="Default.aspx?s=ART" />
        </rule>
        <rule name="ArticleDetail" enabled="true">
          <match url="^tin-tuc/(.*)-([0-9]+).html" />
          <action type="Rewrite" url="Default.aspx?s=DART&amp;AID={R:2}" />
        </rule>
        <!--Product-->
        <rule name="Product" enabled="true">
          <match url="^san-pham/index.html" />
          <action type="Rewrite" url="Default.aspx?s=PRO" />
        </rule>
        <rule name="ProductCategory" enabled="true">
          <match url="^san-pham/(.*)-([0-9]+).html" />
          <action type="Rewrite" url="Default.aspx?s=PRO&amp;CATID={R:2}" />
        </rule>
        <rule name="ProductDetail" enabled="true">
          <match url="^chi-tiet-san-pham/(.*)-([0-9]+).html" />
          <action type="Rewrite" url="Default.aspx?s=DPRO&amp;PID={R:2}" />
        </rule>
        <!--Cart-->
        <rule name="Cart" enabled="true">
          <match url="^gio-hang/index.html" />
          <action type="Rewrite" url="Default.aspx?s=CART" />
        </rule>
        <!--catalog-->
        <rule name="Catalog" enabled="true">
          <match url="^catalog/index.html" />
          <action type="Rewrite" url="Default.aspx?s=CATA" />
        </rule>
        <!--Check out-->
        <rule name="check-out" enabled="true">
          <match url="^check-out/index.html" />
          <action type="Rewrite" url="Default.aspx?s=BUY" />
        </rule>
        <!--Tim kiếm-->
        <rule name="search" enabled="true">
          <match url="^tim-kiem/index.html" />
          <action type="Rewrite" url="Default.aspx?s=SER" />
        </rule>
      </rules>
    </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>