
/** ADD YOUR AWESOME CODES HERE **/

.middle-col-hot{
	align-content: center;
	text-align: center;
	align-items: center;
	margin-bottom: 25px;
}
.warning{
    color:#ff0000;
}
.savesucc{
    color: #1068f3;
}